

body{
    margin:0px;
    padding:0px;
    background-image: url('img/retro.jpg');
    background-size: cover;
    background-repeat: repeat-y;
   

}
/*home styles*/
.selfbody{
    background-image: url('img/wood2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 110px;

}
.self-intro img{
    display:inline ;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.self-intro p{
    color: beige;
}
.myname h1,h2{
    margin-top:-30px;
    padding: 10px;
    color: aquamarine;
}
.myname h2,p{
    margin-top: -60px;
}
.myname p{
    padding-bottom:20px;
}
/*details*/
.details{
    margin: 20px;
    padding: 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: rgb(111, 80, 80);
    
}
button {
    background: linear-gradient(45deg, #ff416c, #d5e617);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background: linear-gradient(45deg, #d5e617, #ff416c);
    transform: scale(1.05);
}

  

/*footer*/
footer ul,li,a,img{
    display: inline;
    
}
footer img{
    width: 20px;
}