@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');




body {
    margin: 0px;
    padding: 0px;
    background-image: url('img/freepik__beach-house-web-background-with-landscape__44020.jpeg');
    background-size: cover;
    background-repeat: repeat-y;
    


}

/*
.classss {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
    */

/*home styles*/
.home {
    display: block;
    text-align: center;
    background: rgb(76,120,184,.1);
    backdrop-filter: blur(20px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

}

.home img {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #8182dd solid 5px;
    box-shadow:40px 20px 20px rgba(7, 44, 84, 0.3);
}

.home p{

    color: rgb(234, 230, 230);
    font-size: 25px;
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
}

.home h1,
h2 {
    color: #8182dd;
    font-family: "Playwrite PT", cursive;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;

}
.home h1{
    font-size: 36px;
    margin: 0;
    padding: 0;
    
}
.home h2{
    font-size: 28px;
    margin: 0;
    padding: 0;
}


.resume-text{
    text-decoration: none;
    color: rgb(237, 108, 23);
}
.resume-text:hover{
    color: chartreuse;

}

/*details*/
.navbar {

    background-color:transparent;
    display: flex;
    justify-content: space-around;
    height: 60px;
    z-index: 100;

}

.navbar img {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;


}

.details-nav {

    width: 50%;
    position: relative;
    z-index: 100;
    color: aqua;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.details-nav a {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: rgb(7, 74, 76);
    transition: 0.3;
    transform: scale(1);
    border: 5px;




}

.details-nav a:hover {
    color: rgb(7, 133, 118);
    border-bottom: #e5ebe6 solid;
    
}

.active {
    color:rgb(48, 35, 186);
    border-bottom: #e5ebe6 solid;
    z-index: 100;
}


/*footer*/
footer{
    background-color: rgb(86, 232, 222,.6);
    width: 100%;

}
.contact {
    text-align: center;

}
.contact h1{
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
    padding-top: 10px;
    color: rgb(77, 5, 86);
}
.contact-details {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.contact-details p,a{
    margin-right: 50px;
    padding: 20px;
}
.contact-details p i{
    font-size: 24px;
    margin-top: 5px;
}
.contact-details a i{
    font-size: 24px;
    margin-top: 5px;
}
.contact-details a{
    text-decoration: none;
    margin-top: 18px;
    margin-right: 50px;
    padding: 20px;
    color:black;
}

.follow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social {
    display: inline-flex;
    
}
.social a{
    display:flex;
    flex-direction: row;
    margin-left: 50px;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: #ed1b1b;
    

}
.social a i{
    border:#ed1b1b solid 5px;
    border-radius: 50%;
    font-size: 24px;
    padding: 5px;

}
.social a i:hover{
    border:#1e11d8 solid 5px;
    color: #1e11d8;
}
@media screen and (max-width:450px) {}